<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
    <style>
        button{
            margin-top: 10px;
        }

        .bold {
            font-weight: bold;
        }
    </style>
</head>
<body>
<h2>All reservations:</h2>
<table border = 1>
    <tr>
        <td><span class = "bold">Client name:</span></td>
        <td><span class = "bold">Film title:</span></td>
        <td><span class = "bold">Hall number:</span></td>
        <td><span class = "bold">Total cost:</span></td>
        <td><span class = "bold">Is paid:</span></td>
    </tr>
    <tr th:each = "reservation : ${reservations}">
        <td th:text="${reservation.client.firstName}">...</td>
        <td th:text="${reservation.seance.film.title}">...</td>
        <td th:text="${reservation.seance.hall.number}">...</td>
        <td th:text="${reservation.cost}">...</td>
        <td th:text="${reservation.isPaid} ? 'Yes' : 'No'">...</td>
    </tr>
</table>
<div>
    <button type="cancel" onclick="location.href='/'">Go to homepage</button>
</div>
</body>
</html>